{% extends "layout.html" %}
{% set active_page ="sec" %}
{% block title %}Inches to Feet!{% endblock %}
{% block content %}


<form action="/response">
  <select name="nameof">
    {{ nval }}
  </select>
  <select name="year">
    {{ yval }}
  </select>
  <br><br>
      <select name="nameoft">
    {{ nval }}
  </select>
  <select name="yeart">
    {{ yval }}
  </select>
  <br><br>
  <input type="submit">

<h1>{{ their }} inches in feet is: {{ response }}</h1>

{% endblock %}
